/target/
!.mvn/wrapper/maven-wrapper.jar


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
mvnw
mvnw.cmd
.mvn/
.DS_Store

*/target/
out/*

## https://stackoverflow.com/questions/61811801/how-to-make-git-ignore-temporary-files-created-by-ms-office-starting-with
~$*
